body {
    width: 500px;
    margin: 0 auto;
  }
  
  label {
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }
  
  span {
    background: white;
    border: 1px solid black;
  }